* {
    text-align: center;
}

body {
    margin: 0;
    background: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Arial, sans-serif;
}
canvas {
    display: block;
}

#nowTime {
    font-size: 50px;
    margin-top: auto; /* 位置を下げる */
    color: #ffffee;
}

#countdown {
    font-size: 40px;
    margin-top: auto; /* 位置を下げる */
    color: #ffffee;
}

#happyNewYear {
    font-size: 70px;
    color: #fc0;
    display: none; /* 初期は非表示 */
<<<<<<< HEAD
=======
    /*position: absolute; /* 絶対位置 */
>>>>>>> 7124bb0c636662f806269a8175abfc5956195dc6
    top: 50%; /* 画面の中央 */
    /*transform: translateY(-50%); /* 垂直方向の中央に配置 */
}

#GoodLuck {
    font-size: 50px;
    color: #fa2;
    display: none; /* 初期は非表示 */
    position: absolute; /* 絶対位置 */
    top: 50%; /* 画面の中央 */
    /*transform: translateY(+50%); /* 垂直方向の中央に配置 */
}